/* 
.Colores{
      MainClr: #5da8a0;
      SecClr: #607123;
      TxtClrLight: #f2f0ec;
      TxtClrDark: #373737;
      BgClrLight: #f4f4ea;
      BgClrDark: #2d6b22;
      AccentClr:#577235;

} */



.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  background: #fdf9c4;
  color: #1f3c06;
}